* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0b132b;
    color: #ffffff;
}
 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background: #0d1b3d;
    position: relative;
 }
 .logo {
    color: #ffd700;
    font-weight: bold;
    font-size: 20px;
 }
 .hamburger {
    width: 30px;
    cursor: pointer;
    z-index: 1001;
 }
 .hamburger span {
    display: block;
    height: 3px;
    background: #ffd700;
    margin: 6px 0;
    transition: 0.3s;
 }
 .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #0b132b;
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    transition: right 0.3s ease;
    z-index: 1000;
 }
 .nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 25px;
 }
 .nav a:hover {
    color: #ffd700;
 }
 .nav.active {
    right: 0;
 }
 .hero {
    text-align: center;
    padding: 80px 20px;
 }
 .hero h1 {
    font-size: 28px;
    margin-bottom: 15px;
 }
 .hero p {
    color: #cbd5f5;
    font-size: 16px;
 }
 .hero-buttons {
    margin-top: 25px;
 }
 .btn {
    display: inline-block;
    padding: 14px 24px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    margin: 8px;
 }
 .primary {
    background: #ffd700;
    color: #000;
 }
 .secondary {
    border: 2px solid #ffd700;
    color: #ffd700;
 }
.secondary:hover {
    color: #000;
    background: #ffd700;
}
 .prices {
    padding: 40px 20px;
    text-align: center;
 }
 .price-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 30px;
 }
 .card {
    background: #101e4a;
    padding: 25px;
    border-radius: 12px;
 }
 .card p {
    color: #ffd700;
    font-size: 22px;
 }
 .why {
    padding: 40px 20px;
    background: #0d1b3d;
    text-align: center;
 } 
 .why-box p {
    margin: 10px 0;
 }
 footer {
    padding: 20PX;
    font-size: 14px;
    text-align: center;
    background: #060b23;
 } 


 /* =======
    DESKTOP
    ======= */

 @media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .nav {
        position: static;
        height: auto;
        width: auto;
        flex-direction: row;
        background: none;
        padding: 0;
        right: 0;
    }
    .nav a {
        margin: 0 15px;
        font-size: 16px;
    }
    .hero h1 {
        font-size: 42px;
    }
    .price-cards {
        grid-template-columns: repeat(4, 1fr);
    }
 }
